@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  /* font-family: 'Ubuntu Mono', monospace; */
}

#menu {
  background-color: #000000;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
#menu ul {
  width: 80%;
  margin: auto;
  padding: 1.5%;
  display: flex;
  justify-content: space-evenly;
}

#banner {
  position: absolute;

  color: whitesmoke;
  font-size: xx-large;
  top: 650px;
  left: 50px;
}

#banner h2{
    color: lawngreen;
}

button {
  font-size: large;
  color: black;
  background-color:lawngreen;
  padding: 1%;
}

#efeito {
  background-color: black;
}

#efeito img {
  width: 100%;
  opacity: 45%;
}

.linha {
  display: flex;
  justify-content: space-between;
}
